.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.notification {
  border-radius: 5px;
  margin: 10px 5px;
  padding: 7px;
  width: 40%;
}

.notification--success {
  border: 2px solid green;
  color: green;
  background: rgba(0, 200, 0, .5);
}

.notification--danger {
  border: 2px solid rgb(136, 10, 17);
  color: rgb(168, 11, 11);
  background: rgba(195, 9, 9, 0.5);
}